[flake8]
max-line-length = 88
ignore = E501, E203, W503, E712
exclude =
    .git
    __pycache__
    setup.py
    build
    dist
    releases
    .venv
    .tox
    .mypy_cache
    .pytest_cache
    .vscode
    .github
    .terraform
    creds/
    tests/fixtures/
    tests/repositories/fixtures/
    tests/utils/fixtures/
